{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="/books/{{ book.pub_date|date:"Y-m-d" }}">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        {% if pagination %}
            <ul class="pagination">
                {% if date_less %}
                    <li class="page-item">
                        <a class="page-link" href="/books/{{ date_less }}"><< {{ date_less }}</a>
                    </li>
                {% endif %}
                {% if date_next %}
                    <li class="page-item">
                        <a class="page-link" href="/books/{{ date_next }}">{{ date_next }} >></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

